[MODEL]
file = $PDK_ROOT/$PDK/libs.tech/ngspice/models/cornerMOShv.lib
info = IHP 130nm HV FETs
corner = NOM
temp = 300
modeln = sg13_hv_nmos
modelp = sg13_hv_pmos
mn = ["l={lx}",
    "w={wx}",
    "ng=1",
    "m=1"]
mp = ["l={lx}",
    "w={wx}",
    "ng=1",
    "m=1"]
savefilen = techsweeps/sg13_n
savefilep = techsweeps/sg13_p

[SYMBOLS]
path = sg13g2_pr

[SIMULATOR]
type = ngspice
# xschem_rc = $PDK_ROOT/$PDK/libs.tech/xschem/xschemrc

[SWEEP]
width = 5
nfing = 1
length = [[0.45, 0.01, 0.6], [0.6, 0.05, 1], [1, 1, 10]]
VGS=[[0, 0.05, 3.3]]
VDS=[[0, 0.05, 3.3]]
VSB=[[0, 0.2, 3.2]]

[SPEC]
min_width = 0.30
width_precision = 0.005
max_width = 100
min_length = 0.45
length_precision = 0.005
maxlength = 100
vdd=3.3